.contact-me {
  color: $white;
  width: 60%;
  margin-top: 100px;
  padding-bottom: 165px;
  z-index: 5;
  position: relative;
  
  @include tablet {
    width: 100%;
  }
}
.contact-me .section-title {
  @include tablet {
    text-align: center;
  }
}