script(type="text/x-template")#feedbackSlider-template
  .feedback-slider
    flickity(ref="flickity" :options="flickityOptions")
      li(v-for= 'feedback in feedbackData' :key="feedback.id").feedback-slider__item
        feedbackSliderItem(
          :feedback= "feedback"
        )


script(type="text/x-template")#feedbackSliderItem-template
  .feedback-slider__item-content
    .feedback-slider__item-text {{feedback.text}}
    .feedback-slider__item-content-wrap
      .feedback-slider__item-img-wrap
        img(:src="feedback.avatar").feedback-slider__item-img
      .feedback-slider__item-titles
        h5.feedback-slider__item-title {{feedback.title}}
        h6.feedback-slider__item-subtitle {{feedback.subtitle}}
        