ul.feedback-slider
    li.feedback-slider__item 
      .feedback-slider__item-content
        .feedback-slider__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .feedback-slider__item-content-wrap 
          .feedback-slider__item-img-wrap
            +image('content/feedback/dima.png', 'feedback-slider__item-img', '', 'Feedback Avatar')
          .feedback-slider__item-titles
            h5.feedback-slider__item-title Ковальчук Дмитрий
            h6.feedback-slider__item-subtitle Основатель Loftschool
    li.feedback-slider__item
      .feedback-slider__item-content
        .feedback-slider__item-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
        .feedback-slider__item-content-wrap
          .feedback-slider__item-img-wrap
            +image('content/feedback/vova.png', 'feedback-slider__item-img', '', 'Feedback Avatar')
          .feedback-slider__item-titles
            h5.feedback-slider__item-title Владимир Сабанцев
            h6.feedback-slider__item-subtitle Преподаватель
