footer.footer#footer
  .container
    .footer__grid
      .footer__year &copy;&nbsp;2019
      .footer__title Обжигалов Андрей
      .footer__nav
        include nav.pug
      .footer__subtitle Личный&nbsp;сайт&nbsp;веб-разработчика
      .footer__column
        .footer__content Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        +socials('footer')
      .footer__quote-wrap
        quote.footer__quote-content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
        cite.footer__quote-title Martin Golding
