section.main
	include parallax.pug
	.container
		include header.pug
		.main__title-wrap
			h2.main__subtitle Личный сайт веб&nbsp;разработчика
			h1.main__title Обжигалов Андрей
	a.scrolldown(href='#')
		span.scrolldown__text Скролл
		+icon('scroll', 'scrolldown__svg')