.parallax__wrap  
  .parallax__layer.parallax__sky(data-layer-number= '1' data-speed= '0')
    img( data-src=require('images/content/main/skies.png') role="presentation").parallax__image
.parallax__layer(data-layer-number= '2' data-speed= '0.065')
  img( data-src=require('images/content/main/mountain.png') role="presentation").parallax__image
.parallax__layer(data-layer-number= '3' data-speed= '0.1')
  img( data-src=require('images/content/main/train.png') role="presentation").parallax__image
.parallax__layer(data-layer-number= '4' data-speed= '0.045')
  img( data-src=require('images/content/main/grass.png') role="presentation").parallax__image