.parallax__layer(data-layer-number= '1' data-speed= '0.03')
  +image('content/main/skies.png', 'parallax__image', 'presentation')
.parallax__layer(data-layer-number= '2' data-speed= '0.045')
  +image('content/main/mountain.png', 'parallax__image', 'presentation')
.parallax__layer(data-layer-number= '3' data-speed= '0.07')
  +image('content/main/train.png', 'parallax__image', 'presentation')
.parallax__layer(data-layer-number= '4' data-speed= '0.025')
  +image('content/main/grass.png', 'parallax__image', 'presentation')