mixin slider(slidesNum)
  ul.slider-list
    - for(var i = 0; i < slidesNum.length; i++)
      li.slider-list__item(data-slide=`${slidesNum[i]}`)
        +image(`content/portfolio/project-${slidesNum[i]}.png`, 'slider-list__item-pic', 'img', 'Project')

.slider-wrap
  .slider
    +image('content/portfolio/project-preview-1.png', 'slider__preview', 'img', 'Project Preview')
    +slider(['1','2','3','4'])
    .slider__switch-wrap
      button.slider__switch(class="slider__switch-next")
        +icon('arrow-down', 'slider__arrow-svg slider__arrow-svg-next')
      button.slider__switch(class="slider__switch-prev")
        +icon('arrow-down', 'slider__arrow-svg slider__arrow-svg-prev slider__arrow-svg--denied')
  .decription-wrap
    .description
      ul.code-link-list
        li.code-link-list__item HTML
        li.code-link-list__item CSS
        li.code-link-list__item Javacript
      .description-content
        h4.description__title Сайт школы образования
        .description__info Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.description-link Посмотреть сайт
          +icon('link', 'description-link__svg')