section.contact-me
  +sectionTitle('Связаться со мной')
  form.form(action="#")
    label.form__label.form__label--half
      .form__label-title Введите ваше имя
      input.form__input(type="text", name='name', placeholder='Дмитрий Ковальчук')
      .form__svg-wrap
        +icon('user', 'form__svg')
      .form__label-border
    label.form__label.form__label--half
      .form__label-title Введите ваш email
      input.form__input(type="email", name='email', placeholder='loftschool@study.com')
      .form__svg-wrap
        +icon('envelope', 'form__svg')
      .form__label-border
    label.form__label.form__label--full
      .form__label-title Сообщение к письму
      textarea.form__input.form__input--textarea(type="email", name='email', placeholder='Требуется ваша помощь в создании сайта.                                                                         Интересуют сроки и цена вопроса')
      .form__svg-wrap.form__svg-wrap--textarea
        +icon('message', 'form__svg')
      .form__label-border
    button.form__button Отправить