section.about
				+image('content/about/about-bg-grass.png', 'about-bg-grass')
				.about-bg-matrix
				.about-bg-gradient
				.container
					.about-content
							.about-content__img-wrap
								+image('content/about/avatar.jpg', 'about-content__img')
							.about-content__descr Привет, меня зовут
								h3.about__title Обжигалов Андрей
								.about-content__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
							.about-content__general
								.about-content__questions
									.about-content__question Проживаю:
									.about-content__question Возраст:
									.about-content__question Родился:
								.about-content__answers
									.about-content__answer Москва
									.about-content__answer 20 лет
									.about-content__answer 8 декабря 1998
							.about-content__tip Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
								+image('content/about/star.png', 'about-content__star')