section.main
				.main__title-wrap
					h2.main__subtitle Личный сайт веб&nbsp;разработчика
					h1.main__title Обжигалов Андрей
				+image('content/main/main-train.png', 'main__train-img')
				.container
					header.header
						include block-logo.pug
						+logo(header)
						.header__nav
							include block-nav.pug
						include block-socials.pug
						+socials("header")
					.scrolldown 
						.scrolldown__text Скролл
						+icon('scroll', 'scrolldown__svg')