script(type="text/x-template")#slider-template
  .slider-wrap(:data-slide="currentIndex + 1")
    sliderDisplay(
      :sliderData='sliderData'
      :currentProject='currentProject'
      @slide="handleSlide"
      @choose="chooseSlide"
      
    )
    sliderContent(
      :currentProject='currentProject'
    )

script(type="text/x-template")#sliderDisplay-template
  .slider
    img(:src='currentProject.photo' alt = 'Превью проекта Андрея Обжигалова из портфолио').slider__preview
    sliderList(
      :sliderData='sliderData'
      :currentProject='currentProject'
      @choose="index => $emit('choose', index)"
    )
    sliderSwitch(
      @slide="direction => $emit('slide', direction)"
    )

script(type="text/x-template")#sliderList-template
  .slider__list-wrap 
    ul.slider__list
      li.slider__list-item(
        v-for='item in sliderData'
        :class="{sliderListItemActive: item.id === currentProject.id}"
        @click="$emit('choose', item.id - 1)"
      )
        img(:src='item.photo' alt="Проект Андрея Обжигалов из портфолио").slider__list-item-pic

script(type="text/x-template")#sliderSwitch-template
  .slider__switch-wrap
    button(@click="$emit('slide', 'next')" class="slider__switch-next" type="button").slider__switch
      +icon('arrow-down', 'slider__arrow-svg slider__arrow-svg-next')
    button(@click="$emit('slide', 'prev')"  class="slider__switch-prev" type="button").slider__switch
      +icon('arrow-down', 'slider__arrow-svg slider__arrow-svg-prev')

script(type="text/x-template")#sliderContent-template
  .description-wrap
    .description
      sliderContentTags(
        :tags="tagsArray"
      )
      .description__content
        h4.description__title {{currentProject.title}}
        .description__info
          p {{currentProject.info}}
        a.description__link(:href="currentProject.link") Посмотреть сайт
          +icon('link', 'description__link-svg')

script(type="text/x-template")#sliderContentTags-template
  ul.description__tags-list
    li(v-for="tag in tags").description__tags-list__item {{tag}}
    