include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio | main page
	body.body--modal
		.wrapper
			include /components/main.pug
			include /components/about.pug
			include /components/skills.pug
			include /components/portfolio.pug
			.popup.j-popup
				.popup__wrap
					.popup__content
					button(type="button").popup__close Закрыть
			.sections-bg-wrap
				.sections-bg-wrap__gradient
				.container
					include /components/feedback.pug
					include /components/contact-me.pug
			include /components/footer.pug
			include /components/fs-menu.pug
		include /templates/entry.pug